DIV.popup {
	max-width: 400px;
	height: auto;
	padding: 20px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	border-radius: 10px;
	display: block;
	opacity: 0;
	background: var(--nav-card-color);
	box-shadow: 4px 4px 10px var(--shadow-color);
	text-align: center;
	z-index: 999;
}

DIV.popup SPAN.pp-content {
	
}

BUTTON.max-size {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
}